{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shri Bhagavad Gita &mdash; </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'lightgallery.min.css' %}">    

  <link rel="stylesheet" href="{% static 'bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'swiper.css' %}">

  <link rel="stylesheet" href="{% static 'aos.css' %}">

  <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    



    <header class="site-navbar py-3" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2" data-aos="fade-down">
            <h2 class="mb-0"><a href="#" class="text-white h2 mb-0">SHREE BHAGWAT GITA</a></h2>
          </div>

        </div>
      </div>
      
    </header>


    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
        <div class="col-lg-4"><!--START FROM HERE-->

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3">Adhyay 1</h2>
              <a href="{% url 'a1' %}" class="btn btn-outline-white py-2 px-4">READ</a>
            </div>
            <img src="{% static 'images/a1.jpg' %}" alt="Image" class="img-fluid">
          </div>

        </div><!--END HERE-->
        
      </div>
    </div>
    <h4>SITE IS UNDER CONSTRUCTION, MORE SHLOKAS SHALL BE ADDED AS TIME PASSES</h4>
    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
       
           &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> SMALL TOKEN OF DEVOTION BY <i class="icon-heart-o" aria-hidden="true"></i><a href="#"  >UDIT KOTECHA, MNNIT ALLAHABAD</a>
        </p>
      </div>
    </div>

    

    
    
  </div>

  <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'jquery-ui.js' %}"></script>
  <script src="{% static 'popper.min.js' %}"></script>
  <script src="{% static 'bootstrap.min.js' %}"></script>
  <script src="{% static 'owl.carousel.min.js' %}"></script>
  <script src="{% static 'jquery.stellar.min.js' %}"></script>
  <script src="{% static 'jquery.countdown.min.js' %}"></script>
  <script src="{% static 'jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'swiper.min.js' %}"></script>
  <script src="{% static 'aos.js' %}"></script>

  <script src="{% static 'picturefill.min.js' %}"></script>
  <script src="{% static 'lightgallery-all.min.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>

  <script src="{% static 'main.js' %}"></script>
  
  <script>
    $(document).ready(function(){
      $('#lightgallery').lightGallery();
    });
  </script>

</body>
</html>